{% extends "base.html" %}      
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Bienvenido |{% endblock %}

<style>
{% block style %}
.jumbotron{
  background-color: #7fb6ec !important; 
}
{% endblock %}
</style>

{% block jumbotron %}
{% if request.user.is_staff %}
<div class='container'>
<table class='table'>
  {% for instance in queryset %}
  <tr><td>{{ instance }}</td><td>{{ instance.nombre }}</td><td>hace {{ instance.timestamp|timesince }}</td></tr><br/>
  {% endfor %}
</table>
</div>
{% else %}


		<div class="jumbotron">
    <div class="container"> 

<div class = "row text_align_center">
	<div class = "col-sm-6 text_align_center">
      <div class="jumbotron text_align_center">
        <h1>Probar Django Jolva</h1>
        <p class="lead text_align_right">Cosas chachis con Django.</p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">Botoncito Rechulón &raquo;</a>
      </div>
    </div>
    <div class="col-sm-6"><iframe width="580" height="300px" src="https://www.youtube.com/embed/zHHkp6bZYCM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
</div>  
</div>
</div>
{% endif %}
{% endblock %}

{{ titulo }}<br/>
{{ request.user }}
{% block content %}
{% if not request.user.is_staff %}
<div class="col-sm-6"><p class="lead text_align_center">Lenny boi<i class="fab fa-accessible-icon"></i></p><img src="{% static 'img/Lenny_face.png' %}"/></div>
{% endif %}
{% endblock %}
<hr/>
<br/>

</div>