{% extends "base.html" %}      
{% load crispy_forms_tags %}

{% block head_title %}Bienvenido |{% endblock %}

{% block jumbotron_content %}
<div class = "row">
	<div class = "col-sm-6">
      <div class="jumbotron">
        <h1>Probar Django Jolva</h1>
        <p class="lead text_align_right">Cosas chachis con Django.</p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">Botoncito Rechulón &raquo;</a>
      </div>
    </div>
    <div class="col-sm-5" style="background-color: cyan; height: 277px"></div>
</div>  

{% endblock %}

{{ titulo }}<br/>
{{ request.user }}
<hr/>
<br/>

{% block content %}
<form method = "POST" action="">{% csrf_token %}
{{ el_form|crispy}}
<input type='submit' value='Registrame' />
</form>
<hr/>
{% endblock %}