{% extends "base.html" %}      
{% load crispy_forms_tags %}

{% block head_title %}Bienvenido |{% endblock %}

<style>
{% block style %}
.jumbotron{
  background-color: #7fb6ec !important; 
}
{% endblock %}
</style>

{% block jumbotron %}
		<div class="jumbotron">
    <div class="container"> 

<div class = "row text_align_center">
	<div class = "col-sm-6 text_align_center">
      <div class="jumbotron text_align_center">
        <h1>Probar Django Jolva</h1>
        <p class="lead text_align_right">Cosas chachis con Django.</p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">Botoncito Rechulón &raquo;</a>
      </div>
    </div>
    <div class="col-sm-5 text_align_center" style="background-color: cyan; height: 277px"></div>
</div>  
</div>
		</div>

{% endblock %}

{{ titulo }}<br/>
{{ request.user }}
<hr/>
<br/>

{% block content %}
<form method = "POST" action="">{% csrf_token %}
{{ el_form|crispy}}
<input type='submit' value='Registrame' />
</form>
<hr/>
{% endblock %}